body {
    margin-left: 20px;
    margin-top: 10px;
}

/* from index.html */
.listings {
    margin: 5px;
    display: inline-block;
    height: 25%;
    max-width: 25%;
    vertical-align: top;
    align-items: center;
}

/* from index.html */
.listings > img { 
    max-width: 100%;
    max-height: 100%;
}

/* from item.html */
.container {
  display: flex;
  /* background: paleturquoise; */
}

/* from item.html */
.one {
    flex: 1 1 65%;
    min-width: 50%;
    /* background: lightpink; */
}

/* from item.html */
.two {
    flex: 1 25%;
    margin-left: 1%;
    /* background: rosybrown; */
}

/* from item.html */
.two > form {
    position: relative;
    bottom: 5px;
    /* background: lightyellow; */
}

.two > form > input[type="submit"] {
    vertical-align: top;
}

.two > p{
    text-align: center;
}

/* from item.html */
.comments-container {
    display: grid;
    /* background: green; */
    margin-bottom: 2%;
}

/* from item.html */
.comment {
    /* background: red; */
    margin-bottom: 2%;
}

/* from item.html */
#close {
    vertical-align: top;
    float: right;
}

/* from item.html */
.desc {
    margin-left: 1.5%;
    /* background: honeydew; */
}

/* from item.html */
.all {
    display: inline-block;
    /* background: aquamarine; */
}

/* from item.html */
.buttons {
    display: flex;
    justify-content: center;
    /* background: green; */
}