body {
    padding: 10px;
}

/* from index.html */
.listings {
    margin: 5px;
    display: inline-block;
    height: 25%;
    max-width: 25%;
    vertical-align: top;
    align-items: center;
}

/* from index.html */
.listings > img { 
    max-width: 100%;
    max-height: 100%;
}

/* from item.html */
.container {
  display: flex;
}

/* from item.html */
.one {
    flex: 1 1 65%;
    min-width: 50%;
}

/* from item.html */
.two {
    flex: 1 25%;
}

/* from item.html */
.info {
    margin-left: 1.5%;
}

/* from item.html */
.all {
    display: inline-block;
}