{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if user.is_authenticated %}

    {% if messages %}
        {% for msg in messages %}
            <ol><mark>{{msg}}</mark></ol>
        {% endfor %}
    {% endif %}
    <ul>
        {% for items in listing %}
            <h4>
                <a href="{% url 'item_info' items.id %}">{{ items }}</a>
            </h4>
            <ol>
                <strong>Description:</strong> {{ items.description}}
            </ol>
            <ol>
                <strong>Current Price:</strong> ${{ items.current_price }}
            </ol>
            {% if items.picture_url %}
                <ol><img src="{{ items.picture_url }}" width=20% height=10%></ol>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
        Please sign in or register to see active listings.
    {% endif %}


{% endblock %}