{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if user.is_authenticated %}

        {% if messages %}
            {% for msg in messages %}
                <ol><mark>{{msg}}</mark></ol>
            {% endfor %}
        {% endif %}
        {% for items in listing %}
        <div class="listings">
                <h4>
                    <a href="{% url 'item_info' items.id %}">{{ items }}</a>
                </h4>
                <strong>Description:</strong> {{ items.description}}<br/>
                <strong>Current Price:</strong> ${{ items.current_price }}<br/>
                {% if items.picture_url %}
                    <img src="{{ items.picture_url }}">
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        Please sign in or register to see active listings.
    {% endif %}


{% endblock %}
