{% extends "auctions/layout.html" %}

{% block body %}
    <div class="item">
        <h2>Listing: {{ listing.item }}</h2>

        {% if listing.picture_url %}
            <img src="{{ listing.picture_url }}" width=70%>
        {% endif %}

        <p style="display:block">{{ listing.description }}</p>

        <strong style="font-size:40px">${{ listing.current_price }}</strong>

        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}

            {% if messages %}
                {% for msg in messages %}
                    <ol><mark>{{msg}}</mark></ol>
                {% endfor %}
             {% endif %}

            {{ bid_count }} bid(s) so far.
                
            {% if bid_count == 0 %}
                Be the first bidder!
            {% else %}
                {% if latest_bidder == current_user %}
                    Your bid is the highest bid.
                {% else %}
                    Place a bid if you wish.
                {% endif %}
            {% endif %}

            {{ form }}

            <input type="submit" value="Place Bid">
        </form>


        <strong style="display:block; font-size:20px">Details</strong>

        <li>
            Listed by: {{ listing.user }}
        </li>
        <li>
            Category: 
            {% if listing.category %}
                {{ listing.category }}
            {% else %}
                No Category Listed
            {% endif %}
        </li>

    </div>
    
    
{% endblock %}
