{% extends "auctions/layout.html" %}

{% block body %}
<div class="all">
    <div class="container">
        <div class="one">
            <h2>Listing: {{ listing.item }}</h2>

            {% if listing.picture_url %}
                <img src="{{ listing.picture_url }}" width=80%>
            {% endif %}
        </div>
        <div class="two">
            <p>Comments will go here</p>
        </div>
    </div>

    <div class="info">
        <div class="desc">
            <p style="display:block">{{ listing.description }}</p>

            <strong style="font-size:40px">${{ listing.current_price }}</strong>

            <form action="{% url 'bid' listing.id %}" method="post">
                {% csrf_token %}

                {% if messages %}
                    {% for msg in messages %}
                        <ol><mark>{{msg}}</mark></ol>
                    {% endfor %}
                {% endif %}

                {{ bid_count }} bid(s) so far.
                    
                {% if bid_count == 0 %}
                    Be the first bidder!<br/>
                {% else %}
                    {% if latest_bidder == current_user %}
                        Your bid is the highest bid.<br/>
                    {% else %}
                        Place a bid if you wish.<br/>
                    {% endif %}
                {% endif %}

                {{ form }}

                <input type="submit" value="Place Bid">
            </form>


            <strong style="display:block; font-size:20px">Details</strong>

            <li>
                Listed by: {{ listing.user }}
            </li>
            <li>
                Category: 
                {% if listing.category %}
                    {{ listing.category }}
                {% else %}
                    No Category Listed
                {% endif %}
            </li>


        </div>

        <div class="buttons">
            {% if is_common %}
                <form action="{% url 'add_watchlist' listing.id %}">
                    <input type="submit" value="Remove from Watchlist">
                </form>
            {% else %}
                <form action="{% url 'add_watchlist' listing.id %}">
                    <input type="submit" value="Add to Watchlist">
                </form>
            {% endif %}

            {% if listing.user == current_user %}
                <form action="{% url 'close_list' listing.id %}">
                    <input type="submit" id="close" value="Close Listing">
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
